.my-c-header > h2 {
    font-size: 20px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.main-menu {
    margin-top: 60px !important;
    padding-bottom: 190px;
}

.header-center-text {
    padding-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.6);
}

.header-height {
    height: 67px !important;
}

.header-left-text {
    padding-top: 18px;
}

.body-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-color {
    background-color: #009688;
}

.menu-fixed {
    position: fixed;
    width: 270px;
}

@media (min-width: 767px) {
    .my-h-logo {

    }
}

@media (min-width: 767px) {
    .my-h-logo .menu-collapse {
        display: none;
    }
}

@media (max-width: 766px) {
    .my-h-logo .menu-collapse {
        margin-top: 8px;
        float: left;
    }
}

.main-menu li.check-active > a {
    color: #009688;
}

.my-smm-header {
    display: none;
}

@media (max-width: 766px) {
    .my-smm-header {
        display: block;
        height: 80px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 10;
    }

    .my-smm-header i {
        font-size: 21px;
        color: #009688;
        background: #fff;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-align: center;
        line-height: 41px;
        margin: 3px 10px 0;
        cursor: pointer;
    }
}