*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
web_crawler/Web_Crawler/src/main/resources/data-config.properties
web_crawler/Web_Crawler/target/classes/data-config.properties
web_crawler/Web_Crawler/target/classes/.gitignore
draf/SeleniumCrawler/.idea/workspace.xml
Chatbot_Admin/.idea/
*.iml

#string properties
Chatbot_Admin/src/main/resources/string.properties
